<!DOCTYPE html>
<html>

<head>
    <title>Prompt Oan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylemain/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <link rel="apple-touch-icon-precomposed" href="/stylemain/image/googleg_lodp.png" sizes="57x57">
</head>

<body>
    <div class="bg">
        <div class="transparent">
            <div class="limiter">
                <div class="container-login100">
                    <div class="block">
                        <div class="image">
                            <img src="/stylemain/image/iphone10.png" style="width:220px;height:250px;">
                        </div>
                        <div class="info">
                            <br>
                            <br>
                            <h1>PROMPT OAN &nbsp;
                                <i class="fas fa-credit-card"></i>
                            </h1>
                            <br> CN321
                            <br> Computer
                            <br>Network Secure
                        </div>
                        <div class="button">
                            <a href="home" class="btn btn-default" style="text-decoration:none">LOG IN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>