<!DOCTYPE html>
<html>
<head>
	<title>qrcode</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="styleqrcode/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="styleqrcode/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="styleqrcode/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="styleqrcode/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="styleqrcode/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="styleqrcode/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="styleqrcode/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="styleqrcode/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="styleqrcode/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="styleqrcode/css/util.css">
	<link rel="stylesheet" type="text/css" href="styleqrcode/css/main.css">
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
		<div class="transparent">
			<div class="container-login100">
				<div class="wrap-login100 p-t-40 p-b-50">
					<form class="login100-form validate-form flex-sb flex-w" action="home" method="GET">
						<span class="login100-form-title p-b-20">
							QR-CODE
						</span>

						
						<!-- <div class="wrap-input100 validate-input m-b-16" > -->
						<span class="login100-form-title p-b-20">
							<img src="/qrcode.png" height="250">
						</span>
							<!-- </div> -->
							<!-- <span class="focus-input100"><img src="/qrcode.png" class="" align="center" ></span> -->
						
						
						
						
						
						<div class="container-login100-form-btn m-t-17">
							<div class="a"></div>
							<input type="submit" value="home" class="login100-form-btn">
							<div class="c"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- <form method="POST" action="login" >
	Username  :<input type="text" name="username"><br>
	Password   :<input type="password" name="password"><br>
	<input type="submit" value="Login">
	</form> -->
	<div id="dropDownSelect1"></div>	
<!--===============================================================================================-->
	<script src="styleqrcode/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="styleqrcode/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="styleqrcode/vendor/bootstrap/js/popper.js"></script>
	<script src="styleqrcode/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="styleqrcode/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="styleqrcode/vendor/daterangepicker/moment.min.js"></script>
	<script src="styleqrcode/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="styleqrcode/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="styleqrcode/js/main.js"></script>
</body>

</html>